azure-cognitiveservices-speech
libsndfile==1.0.31
boto3
editdistance
google-cloud-speech==2.23.0
huggingface-hub
ibm_watson
inflect
matplotlib
numpy
openai-whisper
psutil
pvcheetah==2.2.1
pvleopard==2.0.1
pytube
requests
soundfile
opencc-python-reimplemented
openai
epitran
pycantonese